.boxchak {
  margin-left: 10px;
  color: white;
  font-size: 18px;
}
.box-list {
  background: #4c6bcd;
  text-align: center;
  padding: 10px 0;

  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 25px;
}
.boxchakx {
  margin-left: 10px;
  color: rgb(20, 5, 53);
}
.reds {
  color: red;
  font-size: 15px;
}
.box-lis {
  background: #4c6bcd;
  text-align: center;
  padding: 10px 0;
  min-height: 800px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 25px;
}
.bg-it {
  background-image: url(../assets/it_bg.jpg);
  // border-radius: ;
  max-width: 955px !important;
  min-height: 600px !important;
  transform: translateX(10px);
  border-radius: 15px;
}
.sy-widy {
  width: 18rem;
}
.crad-bots {
  max-width: 540px;
  margin-top: 0px;
}
.con-winz {
  background-color: #a0aec0;
  width: 98%;
  border-radius: 10px;
  padding: 15px;
  min-height: 473px;
}
.box-portfoli {
  margin-top: 10px;
}

.color-white {
  color: #ffff;
  height: 3px;
  background-color: #ffff;
}
.portfoli-image {
  width: 250px;
}
.modal-content {
  margin-top: 100px;
}
.my-navba {
  position: fixed;
  width: 100%;
  margin-top: 0px;
  z-index: 232332;
}
.my-navbar {
  justify-content: center;
}
